body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    overflow: scroll;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y:scroll;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
    margin-bottom: 10px;
    margin: 10px;
}

label {
    margin-bottom: 5px;
    text-align: center;
}

input[type="number"] {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="submit"] {
    padding: 10px;
    background-color: #2d1bb5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #234ab8;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
