body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
    width: 30%;
}

input[type="number"] {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 2%;
    appearance: none; /* Убирает стрелочки для изменения значений */
    -moz-appearance: textfield; /* Убирает стрелочки в Firefox */
}


input[type="submit"] {
    margin: auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 10%;
}

input[type="submit"]:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
